<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Main Category"
            id="com.coala.core.commands.category">
      </category>
      <command
            categoryId="com.coala.core.commands.category"
            id="com.coala.core.commands.runcoalaCommand"
            name="Run coala Command">
      </command>
      <command
            categoryId="com.coala.core.commands.category"
            id="com.coala.core.commands.removeMarkersCommand"
            name="Remove Markers Command">
      </command>
      <command
            categoryId="com.coala.core.commands.category"
            id="com.coala.core.commands.bearList"
            name="Bears">
         <commandParameter
               id="com.coala.core.commands.bearList.parameters"
               name="Bear List"
               optional="false"
               values="com.coala.core.menu.BearMenu">
         </commandParameter>
      </command>
   </extension> 
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.coala.core.commands.runcoalaCommand"
            class="com.coala.core.handlers.Plugin">
      </handler>
      <handler
            commandId="com.coala.core.commands.removeMarkersCommand"
            class="com.coala.core.handlers.RemoveMarkers">
      </handler>
      <handler
            commandId="com.coala.core.commands.bearList"
            class="com.coala.core.handlers.Plugin">
      </handler>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.coala.core.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <menu
               icon="icons/coala-analyzer.gif"
               id="com.coala.core.menus.popupMenu"
               label="coala"
               mnemonic="o">
            <command
            	  label = "Analyze using coala"
                  commandId="com.coala.core.commands.runcoalaCommand"
                  mnemonic="A"
                  id="com.coala.core.menus.sampleCommand">
            </command>
            <command
            	  label = "Clear coala violations"
                  commandId="com.coala.core.commands.removeMarkersCommand"
                  mnemonic="C"
                  id="com.coala.core.menus.removeMarkersCommand">
            </command>
            <separator
                  name="com.coala.core.separator1"
                  visible="true">
            </separator>
            <menu
            	label="Run coala with">
            	<dynamic
              	  class="com.coala.core.menu.BearMenu"
              	  id="com.coala.core.menu.bearListValues">
   				</dynamic>
            </menu>
         </menu>
      </menuContribution>
      <!--
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.coala.core.toolbars.sampleToolbar">
            <command
                  commandId="com.coala.core.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="com.coala.core.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
      -->
   </extension>
   
   <extension id="coolmarker" point="org.eclipse.core.resources.markers"/>
   <extension id="coolproblem" point="org.eclipse.core.resources.markers">
   		<super type="org.eclipse.core.resources.problemmarker"/>
   		<super type="com.coala.core.coolmarker"/>
   		<attribute name="coolFactor"/>
   		<persistent value="true"/>
	</extension>
   
</plugin>
