<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Main Category"
            id="com.coala.core.commands.category">
      </category>
      <command
            categoryId="com.coala.core.commands.category"
            id="com.coala.core.commands.runcoalaCommand"
            name="Run coala Command">
      </command>
      <command
            categoryId="com.coala.core.commands.category"
            id="com.coala.core.commands.removeMarkersCommand"
            name="Remove Markers Command">
      </command>
      <command
            categoryId="com.coala.core.commands.category"
            id="com.coala.core.commands.bearList"
            name="Bears">
         <commandParameter
               id="com.coala.core.commands.bearList.parameters"
               name="Bear List"
               optional="false"
               values="com.coala.core.menu.BearMenu">
         </commandParameter>
      </command>
   </extension> 
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.coala.core.commands.runcoalaCommand"
            class="com.coala.core.handlers.RuncoafileHandler">
      </handler>
      <handler
            commandId="com.coala.core.commands.removeMarkersCommand"
            class="com.coala.core.handlers.RemoveMarkers">
      </handler>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.coala.core.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/coala-analyzer.gif"
               id="com.coala.core.menus.popupMenu"
               label="Run coala with"
               mnemonic="o">
            <dynamic
              	  class="com.coala.core.menu.BearMenu"
              	  id="com.coala.core.menu.bearListValues">
   			</dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.coala.core.toolbar">
            <command
                  commandId="com.coala.core.commands.runcoalaCommand"
                  icon="icons/coala-analyzer.gif"
                  label="coala"
                  mode="FORCE_TEXT"
                  tooltip="Run coala on Project">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   <extension id="coolmarker" point="org.eclipse.core.resources.markers"/>
   <extension id="problem" point="org.eclipse.core.resources.markers">
   		<super type="org.eclipse.core.resources.problemmarker"/>
   		<super type="com.coala.core.coolmarker"/>
   		<attribute name="coolFactor"/>
   		<persistent value="true"/>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="com.coala.core.problem"
         class="com.coala.core.quickfix.QuickFixer"/>
   </extension>
 <extension
       point="org.eclipse.core.contenttype.contentTypes">
    <content-type
          file-extensions="coafile"
          file-names=".coafile"
          id="com.coala.core.content-type.coafile"
          name="coafile"
          priority="high">
    </content-type>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="com.coala.core.ui.editors._coafileEditor"
          default="true"
          extensions="coafile"
          filenames=".coafile"
          id="com.coala.core.editor.coafileditor"
          name="coafile editor">
       <contentTypeBinding
             contentTypeId="com.coala.core.content-type.coafile">
       </contentTypeBinding>
    </editor>
 </extension>
	
   
</plugin>
